@font-face {
  font-family: goldenratio_demo;
  src: url("../assets/fonts/goldenratio_demo.ttf"); }
@font-face {
  font-family: "oxygen_light";
  src: url("../assets/fonts/oxygen_light.ttf"); }
body, p {
  font-size: 18px;
  font-family: oxygen_light; }

a {
  color: black;
  text-decoration: none; }

h1, h2, h3 {
  margin-top: 0; }

h1 {
  color: #AC1439;
  font-family: goldenratio_demo; }

h2 {
  font-size: 36px;
  color: #AC1439;
  font-family: goldenratio_demo; }

h3 {
  font-size: 10px;
  font-family: oxygen_light;
  font-weight: 300; }

ol, ul, li {
  font-family: oxygen_light;
  font-size: 18px;
  line-height: 32px; }

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 40px;
  background-color: #FFF;
  transition: background-color 0.2s ease; }
  header.opaque {
    background-color: rgba(20, 20, 20, 0.6); }
  header nav {
    float: left;
    margin: 0;
    overflow: hidden;
    text-align: center; }
    header nav ul {
      list-style: none;
      padding: 0;
      margin: 10; }
      header nav ul li {
        display: inline-block;
        float: right;
        margin-left: 20px;
        line-height: 40px; }
        header nav ul li:last-of-type {
          margin-left: 0; }
        header nav ul li.menu {
          color: #232425;
          cursor: pointer;
          display: none;
          font-size: 10px; }
        header nav ul li a {
          color: #232425;
          letter-spacing: 1px;
          text-transform: uppercase;
          font-weight: bold;
          position: relative; }
          header nav ul li a:after {
            content: "";
            height: 2px;
            width: 100%;
            background-color: grey;
            position: absolute;
            bottom: -4px;
            left: 0;
            opacity: 0;
            transition: opacity 0.2s ease; }
          header nav ul li a:hover:after {
            opacity: 1; }

section {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  border-bottom: 2px solid #18B89D; }
  section:last-of-type {
    border-bottom: 0; }
  section h2 {
    font-size: 24px; }

.top_home {
  width: 100%;
  height: 100%; }

.heading-styles, h1, h2, h3 {
  text-transform: uppercase;
  letter-spacing: 2px; }

.overview {
  text-align: center; }
  .overview p {
    line-height: 30px;
    font-size: 18px; }

.parallax {
  height: 80vh;
  background-image: url("../assets/images/3_dogs_running_comp.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-color: #464646; }

.walk {
  padding-top: 20px;
  background-color: #FFF;
  color: #18B89D;
  text-align: right; }

.overview1 {
  text-align: right; }
  .overview1 p {
    line-height: 30px;
    font-size: 18px; }

.parallax1 {
  height: 700px;
  width: 100%;
  background-image: url("../assets/images/walk_in_fields_comp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll; }

.boarding {
  text-align: center;
  height: 50%; }
  .boarding p {
    color: #777; }
  .boarding div {
    background-color: #FFF; }
    .boarding div h2 {
      text-align: center;
      color: #AC1439; }

.parallax2 {
  height: 90vh;
  background-image: url("../assets/images/garden2.comp.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-color: #464646; }

.content2 {
  text-align: center;
  height: 50%; }
  .content2 h1 {
    text-align: center;
    color: #AC1439;
    padding-top: 20px;
    color: #232425;
    font-family: goldenratio_demo; }
  .content2 p {
    color: #777; }
  .content2 div {
    background-color: #FFF; }

.parallax3 {
  height: 70vh;
  background-image: url("../assets/images/dal_point_comp.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-color: #464646; }

.content3 {
  text-align: center; }
  .content3 h1 {
    text-align: center;
    color: #AC1439;
    font-family: goldenratio_demo;
    padding-bottom: 20px; }
  .content3 h2 {
    padding-bottom: 20px;
    font-family: goldenratio_demo;
    color: #AC1439; }
  .content3 p {
    color: #777; }
  .content3 div {
    background-color: #FFF; }

.parallax4 {
  height: 80vh;
  background-image: url("../assets/images/rob_and_boy_comp.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-color: #464646; }

.content4 {
  text-align: center;
  height: 50%; }
  .content4 p {
    color: #777; }
  .content4 div {
    background-color: #FFF; }
    .content4 div h2 {
      text-align: center;
      color: #AC1439; }

#hero {
  height: 100vh;
  background-image: url("../assets/images/Rob_with_pals_comp.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-color: #464646; }

#wordage {
  padding-top: 110px; }
  #wordage h2 {
    font-size: 30px;
    color: #FFF;
    font-family: goldenratio_demo;
    margin-left: 55%; }

#overview-text {
  padding-bottom: 40px;
  text-align: center; }
  #overview-text h2 {
    padding-top: 30px;
    font-family: goldenratio_demo;
    color: #AC1439; }

#overview-image {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  margin-right: 60px; }

#walks_image {
  padding-top: 40px; }

#walks_text {
  text-align: center; }
  #walks_text h2 {
    font-family: goldenratio_demo;
    color: #AC1439; }

#boarding {
  margin: auto;
  padding-top: 60px; }
  #boarding p {
    font-size: 20px; }
  #boarding h2, #boarding h1 {
    font-family: goldenratio_demo;
    color: #AC1439;
    padding-bottom: 20px;
    text-align: center; }
  #boarding div {
    background-color: #FFF; }

#db, #ovb {
  text-align: center;
  border: 1px #18B89D;
  border-style: solid;
  border-width: 2px;
  border-color: #18B89D;
  border-radius: 50px;
  margin: 20px;
  padding: 15px;
  margin: auto; }
  #db img, #ovb img {
    margin: auto; }

#ovb {
  margin-top: 20px; }

#forms, #next_steps {
  margin: auto;
  border: 1px solid black;
  border-radius: 10%;
  border-color: #18B89D; }
  #forms h2, #next_steps h2 {
    text-align: center; }

#next_steps {
  text-align: justify;
  padding-bottom: 26px;
  margin-right: 50px;
  margin-left: 50px; }

#forms {
  padding-bottom: 20px; }

#prices h1 {
  text-align: center;
  color: #AC1439;
  padding-top: 20px;
  font-family: goldenratio_demo; }

#contact {
  padding-top: 20px;
  padding-bottom: 40px; }
  #contact h1 {
    padding-bottom: 0px; }
  #contact h2 {
    font-family: oxygen_light;
    color: black;
    font-size: 22px;
    text-align: center; }
  #contact p {
    padding-bottom: 20px;
    line-height: 30px; }

#logos {
  padding-top: 30px; }

#peace {
  margin-top: 20px; }

#logo {
  text-align: left;
  vertical-align: middle; }

footer {
  background-color: #141414;
  padding: 10px 0;
  text-align: center;
  color: #FFF; }

.content {
  padding-top: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

@media only screen and (max-width: 575px) {
  header {
    height: auto; }
    header nav ul li {
      display: block;
      float: none;
      text-align: right; }
      header nav ul li.menu {
        display: block; }
    header nav ul .dropdown {
      display: none; } }
/* Turn off parallax scrolling for tablets and phones. */
@media only screen and (max-width: 767px) {
  #hero h2 {
    font-size: 20px;
    color: #FFF;
    font-family: goldenratio_demo; }
  #hero p {
    font-size: 16px; }
  #hero #wordage {
    font-size: 16px;
    color: black;
    font-family: goldenratio_demo; } }
@media screen and (max-device-width: 414px) {
  /* Insert styles here */ }
@media screen and (max-device-width: 320px) and (max-device-height: 568px) {
  img {
    max-width: 300px; } }
@media screen and (max-device-width: 375px) and (max-device-height: 667px) {
  img {
    max-width: 300px; } }
@media screen and (max-device-width: 414px) and (max-device-height: 776px) {
  img {
    max-width: 300px; } }

/*# sourceMappingURL=style.css.map */
