@font-face {
  font-family: goldenratio_demo;
  src: url("../assets/fonts/goldenratio_demo.ttf");
}

@font-face {
    font-family: "oxygen_light";
    src: url("../assets/fonts/oxygen_light.ttf");
}

$brand-color: #18B89D;
$brand-secondary: #AC1439 ;
$black: #232425;
$white: #FFF;
$font: oxygen_light;
$heading: goldenratio_demo;

* {
  font-family: inherit;
}

body, p {
    font-size: 18px;
    font-family: $font;
}

a {
  color: black;
  text-decoration: none;
}

h1, h2, h3 {
  @extend .heading-styles;
  margin-top: 0;
}

h1 {
  color: $brand-secondary;
  font-family: $heading;
}

h2 {
  font-size: 36px;
  color: $brand-secondary;
  font-family: $heading;
}

h3 {
  font-size: 10px;
  font-family: $font;
  font-weight: 300;
}

ol, ul, li {
  font-family: $font;
  font-size: 18px;
  line-height: 32px;
}
header {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 40px;
  background-color: $white;
  transition: background-color 0.2s ease;
  &.opaque {
    background-color: rgba(20, 20, 20, 0.6);
  }
  nav {
    float: left;
      margin: 0;
      overflow:hidden;
      text-align: center;
    ul {
      list-style: none;
      padding: 0;
      margin: 10;
      li {
        display: inline-block;
        float: right;
        margin-left: 20px;
        line-height: 40px;
        &:last-of-type {
          margin-left: 0;
        }
        &.menu {
          color: $black;
          cursor: pointer;
          display: none;
          font-size: 10px;
        }
        a {
          color: $black;
          letter-spacing: 1px;
          text-transform: uppercase;
          font-weight: bold;
          position: relative;
          &:after {
            content: "";
            height: 2px;
            width: 100%;
            background-color: grey;
            position: absolute;
            bottom: -4px;
            left: 0;
            opacity: 0;
            transition: opacity 0.2s ease;
          }
          &:hover {
            &:after {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

section {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  border-bottom: 2px solid $brand-color;
  &:last-of-type {
    border-bottom: 0;
  }
  h2 {
    font-size: 24px;
  }
}
.top_home {
  width: 100%;
  height: 100%;
}

.heading-styles {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.overview {
  text-align: center;
  p {
    line-height: 30px;
    font-size: 18px;
  }
}

// @media only screen and (max-width: 767px) {


.parallax {
  height: 80vh;
  // width: 100%;
  background-image: url('../assets/images/3_dogs_running_comp.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
   background-color:#464646;
 }

 // @media only screen and (max-width: 767px) {
 //   .parallax {
 //     background-image: url('../assets/images/3_dogs_running_mob.jpg');
 //   }
 // }

 .walk {
  padding-top: 20px;
  background-color: $white;
  color: $brand-color;
  text-align: right;
  }

  .overview1 {
    text-align: right;
    p {
      line-height: 30px;
      font-size: 18px;
    }
  }

.parallax1 {
  height: 700px;
  width: 100%;
  background-image: url("../assets/images/walk_in_fields_comp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
 }

 .boarding {
   text-align: center;
   height: 50%;
   p {
     color: #777;
   }
   div {
    background-color: $white ;
    h2 {
      text-align: center;
      color: $brand-secondary;
    }
  }
}

.parallax2 {
  height: 90vh;
  background-image: url("../assets/images/garden2.comp.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color:#464646;
 }

.content2 {
 text-align: center;
 height: 50%;
 h1 {
   text-align: center;
   color: $brand-secondary;
   padding-top: 20px;
   color: $black;
   font-family: goldenratio_demo;
   }
 p {
   color: #777;
 }
 div {
  background-color: $white ;
  }
}


.parallax3 {
  height: 70vh;
  // width: 100%;
  background-image: url("../assets/images/dal_point_comp.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color:#464646;
 }

   .content3 {
    //  margin: auto;
     text-align: center;
    //  height: 50%;
    //  width: 100%;
     h1 {
       text-align: center;
       color: $brand-secondary;
       font-family: goldenratio_demo;
       padding-bottom: 20px;
       }
       h2 {
         padding-bottom: 20px;
         font-family: goldenratio_demo;
         color: $brand-secondary;
       }
     p {
       color: #777;
     }
     div {
      background-color: $white ;
      }
    }

.parallax4 {
  height: 80vh;
  // width: 100%;
  background-image: url("../assets/images/rob_and_boy_comp.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color:#464646;
 }

 .content4 {
   text-align: center;
   height: 50%;
   p {
     color: #777;
   }
   div {
    background-color: $white ;
    h2 {
      text-align: center;
      color: $brand-secondary;
    }
  }
}



#hero {
  height: 100vh;
  background-image: url('../assets/images/Rob_with_pals_comp.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#464646;
  }

#wordage {
    padding-top: 110px;
  h2 {
    font-size: 30px;
    color: $white;
    font-family: goldenratio_demo;
      margin-left: 55%;
      // width: 500px;
      // height: 400px;
    }
  }



  #overview-text {
    // margin-right: 20px;
    padding-bottom: 40px;
    text-align: center;
    // max-width: 80%;
    h2 {
      padding-top: 30px;
      font-family: goldenratio_demo;
      color: #AC1439
    }
  }

  #overview-image {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 60px;
    img {
      height: 400px;
  }
}

  #walks_image {
    padding-top: 40px;
  }


  #walks_text {
    text-align: center;
    h2 {
      font-family: goldenratio_demo;
      color: #AC1439
    }
  }

#boarding{
  margin: auto;
 // border: 1px $brand-secondary;
  padding-top: 60px;
  // margin-top: 80px;
  p {
    font-size: 2opx;
  }
  h2, h1 {
  font-family: goldenratio_demo;
  color: $brand-secondary;
  padding-bottom: 20px;
  text-align: center;
  }
  div {
   background-color: $white ;
 }
}

#db, #ovb {
  // margin-top: 30px;
  text-align: center;
  border: 1px $brand-color;
  border-style: solid;
  border-width: 2px;
  border-color: $brand-color;
  border-radius: 50px;
  margin: 20px;
  padding: 15px;
  margin: auto;
  img {
    margin:auto;
  }
}

#ovb {
  margin-top: 20px;
}

#forms, #next_steps {
  margin: auto;
  border: 1px solid black;
  border-radius: 10%;
  // padding: 20px;
  border-color: $brand-color;
  // margin-left: 50px;
  h2 {
    text-align: center;
  }
}

#next_steps {
  text-align: justify;
  // border: 1px solid black;
  // border-radius: 10%;
  padding-bottom: 26px;
  // border-color: $brand-color;
  margin-right: 50px;
  margin-left: 50px;

}

#forms {
  padding-bottom: 20px;
}



#prices {
  h1 {
    text-align: center;
    color: $brand-secondary;
    padding-top: 20px;
    font-family: goldenratio_demo;
    }
}

#contact {
  padding-top: 20px;
  padding-bottom: 40px;
  h1 {
    padding-bottom: 0px;
  }
  h2 {
    font-family: oxygen_light;
    color: black;
    // padding-bottom: 30px;
    font-size: 22px;
    text-align: center;
  }
  p {
    padding-bottom: 20px;
    line-height: 30px;
  }
}
#logos {
  padding-top: 30px;
}
#peace {
  margin-top: 20px;
}

#logo {
text-align: left;
vertical-align: middle;

}
footer {
  background-color: rgba(20, 20, 20, 1);
  padding: 10px 0;
  text-align: center;
  color: $white;
}

.content {
  padding-top: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 575px) {
  header {
    height: auto;
    nav {
      ul {
        li {
          display: block;
          float: none;
          text-align: right;
          &.menu {
            display: block;
          }
        }
        .dropdown {
          display: none;
        }
      }
    }
  }
}

/* Turn off parallax scrolling for tablets and phones. */
@media only screen and (max-device-width: 900px) {
    .parallax .parallax1 .parallax2 .parallax3 .parallax4  {
        background-attachment: scroll;
    }
}

@media only screen and (max-width: 767px) {
  #hero {
  h2 {
    font-size: 20px;
    color: $white;
    font-family: goldenratio_demo;
      // margin-left: 55%;
      // width: 500px;
      // height: 400px;
      // padding-top: 120px;
  }
}
}

@media only screen and (max-width: 767px) {
  p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 767px) {
  #hero {
    background-image: url('../assets/images/Rob_with_pals_mobile.png');
  }
}

@media only screen and (max-width: 767px) {
#wordage {
  font-size: 16px;
  color: black;
  font-family: goldenratio_demo;
      // margin-left: 55%;
      // width: 500px;
      // height: 400px;
      // padding-top: 120px;
    }
}
